{% extends "template.html" %}
{% block body %}
  <!-- Add your site or application content here -->
  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">Main Text</p>
      <hr class="my-4">
      <p>Subtext</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <p>
    <a class="btn btn-primary href="https://getbootstrap.com/docs/4.0/components/jumbotron/">TSV</a>
    <button type="button" class="btn btn-dark">Dark</button>
  </p>
  <div class="col-sm">
    Column
  </div>
  <div class="col-sm">
    Column 2
  </div>
  <div class="row">
    <div class="col-sm"><h1>Column</h1></div>
    <div class="col-sm"><h1>Hello</h1><p>Column 3</p></div>
  </div>
{% endblock %}