{% extends "template.html" %}
{% block body %}
<!-- Add your site or application content here -->
<div class="container" style="height: 400px">
<div class="jumbotron" style="height: 350px">
  
    {% for s in sentences %}
    <h2>sentence: {{s.sentence}} id: {{s.id}}</h2>
    {% endfor %}

</div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm"><button type="button" class="btn btn-dark btn-lg btn-block">Dark</button></div>
      <div class="col-sm"><button type="button" class="btn btn-dark btn-lg btn-block">Dark</button></div>
    </div>
  <br>
    <div class="row">
      <div class="col-sm"><button type="button" class="btn btn-dark btn-lg btn-block">Dark</button></div>
      <div class="col-sm"><button type="button" class="btn btn-dark btn-lg btn-block">Dark</button></div>
    </div>
  </div>
  
{% endblock %}